{% extends 'layouts/post.html' %}

{% block title %}Post Message{% endblock %}
{% block body %}
{% import 'macros/form.html' as f with context %}
<div class="card text-center">
  <div class="card-body">

              {% call f.form_tag('mypost.post') %}
              <legend>Post</legend>
              {% call f.form_group(form.body, css_class='sm-margin-bottom')%}
              {% endcall %}
              
              <div class="row">
                <div class="col-md-6">
                  <button type="submit" class="btn btn-primary pull-left">
                    Send
                  </button>
                </div>
              </div>
            {% endcall %}
    
    </div>
</div>
{% endblock %}