{% extends 'layouts/post.html' %}
{% block body %}


        {% for post in mypost %}

        <div class="card text-center">
            <div class="card-body">
                <p class="card-text">
                    {{post.body}}            
                </p>
                <p><a href="/update/{{post.id}}" class="btn btn-primary">Update</a>
                    <a href="/delete/{{post.id}}" class="btn btn-primary">Delete</a>
                </p>
            </div>
        </div>
        {%endfor%}


{%endblock%}