{% extends 'layouts/post.html' %}
{% block body %}


        {% for person in group %}

        <div class="card text-center">
            <div class="card-body">
                <p class="card-text">
                    <a href="">{{person.username}}</a>            
                </p>
                <p class="card-text">
                   <a href="/follows/{{person.username}}" class="btn btn-primary">Follow</a>
                   <a href="/unfollow/{{person.username}}" class="btn btn-primary">Unfollow</a>            
                </p>
            </div>
        </div>
        {%endfor%}


{%endblock%}